.advantages {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}

.advantages__item {
  position: relative;
  flex: 1;

  &:after {
    position: absolute;
    //half of icon height minus separator height
    top: (7.11rem - 0.556rem) / 2;
    right: 0;
    content: url(../img/separator.png);
    transform: translateX(50%);
  }

  &:last-child::after {
    display: none;
  }
}

.advantage {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:last-child {
    margin-right: 0;
  }
}

.advantage__pic {
  border-radius: 50%;
  height: 7.11rem;
  width: 7.11rem;
  margin-bottom: 0.833rem;
}

@each $advantage in (fit, strong, unique) {
  .advantage__pic--icon--#{$advantage} {
    background: url(../img/#{$advantage}-logo.png) center center no-repeat, #f2f5f4;
  }
}

.advantage__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.833rem;
}

.advantage__text {
  font-weight: 300;
  color: #666;
  text-align: center;
  max-width: 15.56rem;

  p {
    line-height: 1.2em;
  }
}
