.scroller {
  position: fixed;
  right: 17%;
  top: 33%;
}

.scroller__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 29vh;
}

.scroller__radio-visible {
  height: 16px;
  width: 16px;
  padding: 4px;
  background-color: #fff;
  border-radius: 50%;
  border-width: 1px;
  border-color: transparent;
  border-style: solid;
  background-clip: content-box;
  cursor: pointer;
}

.scroller__radio {
  display: none;
}

.scroller__radio:checked ~ .scroller__radio-visible {
  border-color: #fff;
}
