html,
body {
  height: 100%;
  font: 400 18px/1.42 "Alegreya Sans", Tahoma, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  margin: 0;
}

.wrapper {
  width: 100%;
  min-width: $containerwidth + 1.11rem;
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: $containerwidth;
  margin: 0 auto;
  height: 100%;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}
