.button {
  background-color: $yellow;
  border-radius: 1.94rem;
  border-width: 0;
  padding: 1.17rem 2.22rem;
  font-size: 0.889rem;
  font-weight: 800;
  font-family: inherit;
  color: #000;
  text-transform: uppercase;
  transition: background-color 0.2s;
  cursor: pointer;

  &:hover {
    background-color: #ffd517;
    transition: background-color 0.2s;
  }
}

.button--type--reset {
  background-color: transparent;
  text-transform: none;
  color: #fff;
  border-width: 0;
  padding: 1.17rem 1.11rem;
  font-family: inherit;
  font-weight: normal;
  font-size: 1rem;
  transition: color 0.2s;
  cursor: pointer;

  &:hover {
    background-color: transparent;
    color: $yellow;
    transition: color 0.2s;
  }
}
