.contacts {
  font-size: rem(22px);
  font-style: normal;
}

.contacts__tel:before {
  content: "";
  display: inline-block;
  background: url("../img/phone-logo.svg") center center / contain no-repeat;
  // background-size: contain;
  height: 0.58em;
  width: rem(25px);
}

.contacts__tel--color--white:before {
  filter: invert(100%);
}
