.contacts {
  font-size: 1.22rem;
  font-style: normal;
}

.contacts__tel:before {
  content: "";
  display: inline-block;
  background: url("../img/phone-logo.png") center center no-repeat;
  background-size: contain;
  height: 0.778rem;
  width: 1.39rem;
  filter: invert(100%);
}
