.dropdown {
  padding: rem(25px);
  background-color: #fff;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  backdrop-filter: blur(40px);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100px;
  }
}

.dropdown__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: rem(16px);
  min-width: rem(220px);
  font-size: rem(16px);
  // line-height: 2em;

  &:last-child {
    margin-bottom: 0;
  }
}

.dropdown__parameter {
  font-weight: 500;
  line-height: 1em;
  display: flex;
  align-items: center;
}

@each $param in (length, width, thickness, lifetime, weight) {
  .dropdown__item--#{$param} .dropdown__parameter:before {
    content: url(../img/#{$param}.svg);
    vertical-align: middle;
    background-size: contain;
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }
}
