.employee {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: rem(220px);
  text-align: center;
  user-select: none;
}

.employee__name {
  position: relative;
  font-size: rem(21px);
  font-weight: 700;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    right: -13px;
    border: 4px solid transparent;
    border-top: 7px solid black;
    transform: translateY(-5px) rotate(180deg);
  }
}

.employee__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  height: 0;
  transition: 0.5s;
  overflow: hidden;
}

.employee__name--active {
  &::after {
    transform: translateY(0) rotate(0);
  }

  & + .employee__info {
    opacity: 1;
    height: 100px;
  }
}

.employee__avatar {
  display: block;
  max-width: rem(290px);

  &--tablet {
    display: none;
  }
}

.employee__responsibility {
  font-weight: 300;
  color: #666;
}
