.form {
  display: flex;
  margin: 0 4.56rem;
}

.form__col {
  flex: 1;
  margin-right: 0.556rem;

  &:last-child {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  flex: 1;
  margin-bottom: 0.556rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__block {
  flex: 1;
  margin-right: 0.833rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__input {
  width: 100%;
  border: 0.167rem solid transparent;
  border-radius: 0.222rem;
  padding: 0.889rem 0.556rem;
  font: 400 0.778rem/1.42 "Open Sans", Tahoma, sans-serif;

  &:focus {
    outline: none;
    border-color: $yellow;
  }
}

.form__input--textarea {
  height: 8.33rem;
  resize: none;
  margin-bottom: 1.11rem;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.11rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__controls--margin--big {
  margin-bottom: 2.5rem;
}
