.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 26px;
  height: 24px;
}

.hamburger__plank {
  height: 4.5px;
  background-color: #fff;
  border-radius: 20px;
}
