.headline {
  margin-bottom: 2.78rem;
}

.headline__title {
  margin-bottom: 0.556rem;
}

.headline__title-descr {
  color: #666;
  text-align: center;
  width: 39%;
  margin: 0 auto;
  line-height: 1.3em;
}
