.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.28rem 4.44rem 0;
  font-weight: bold;
  color: #fff;
  margin-bottom: 5.56rem;
}

.header__col {
  display: flex;
  align-items: center;
}
