.hero {
  height: 100vh;
  min-height: 600px;
  color: #fff;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url("../img/bg-hero.png") center center no-repeat;
    background-size: cover;
  }
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 0px 65px 80px;
  max-width: 50%;
  min-height: 75vh;
}

.hero__title {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.25em;
  margin-bottom: 13px;
}

.hero__descr {
  font-size: 21px;
  margin-bottom: 35px;
}

.hero__features {
  margin-top: auto;
  font-size: 16px;
  font-weight: bold;
}

.hero__features-list {
  display: flex;
  justify-content: space-between;
}

.hero__features-item {
  margin-left: 35px;
  padding-left: 15px;
  position: relative;
  max-width: 90px;
  line-height: 1.3em;
}

$list: design, materials, delivery;

@each $var in $list {
  .hero__features-item--#{$var}:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translatey(-50%);
    background: url("../img/#{$var}-logo.png") center center no-repeat;
    background-size: contain;
    height: 35px;
    width: 35px;
    filter: invert(100%);
  }
}

.hero__button-container {
  margin-bottom: 20px;
}
