.hero {
  height: 100vh;
  min-height: 33.33rem;
  color: #fff;
  background: url("../img/bg-hero.png") center top no-repeat;
  background-size: cover;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 3.61rem 4.44rem;
  max-width: 50%;
  min-height: 75vh;
}

.hero__title {
  font-size: 2.67rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.25em;
  margin-bottom: 0.722rem;
}

.hero__descr {
  font-size: 1.17rem;
  margin-bottom: 1.94rem;
}

.hero__features {
  margin-top: auto;
  font-size: 0.889rem;
  font-weight: bold;
}

.hero__features-list {
  display: flex;
  justify-content: space-between;
}

.hero__features-item {
  margin-left: 1.94rem;
  padding-left: 0.833rem;
  position: relative;
  max-width: 5rem;
  line-height: 1.3em;
}

$list: design, materials, delivery;

@each $var in $list {
  .hero__features-item--#{$var}:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translatey(-50%);
    background: url("../img/#{$var}-logo.png") center center no-repeat;
    background-size: contain;
    height: 1.94rem;
    width: 1.94rem;
    filter: invert(100%);
  }
}

.hero__button-container {
  margin-bottom: 1.11rem;
}
