@import url("fonts.css");
@import url("normalize.css");
html,
body {
  height: 100%;
  font: 400 18px/1.42 "Alegreya Sans", Tahoma, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  margin: 0;
}

.wrapper {
  width: 100%;
  min-width: 62.22rem;
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  width: 61.11rem;
  margin: 0 auto;
  height: 100%;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.28rem 4.44rem 0;
  font-weight: bold;
  color: #fff;
  margin-bottom: 5.56rem;
}

.header__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__item {
  margin-right: 1.22rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.logo__pic {
  display: block;
}

.contacts {
  font-size: 1.22rem;
  font-style: normal;
}

.contacts__tel:before {
  content: "";
  display: inline-block;
  background: url("../img/phone-logo.png") center center no-repeat;
  background-size: contain;
  height: 0.778rem;
  width: 1.39rem;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.button {
  background-color: #fedb3f;
  border-radius: 1.94rem;
  border-width: 0;
  padding: 1.17rem 2.22rem;
  font-size: 0.889rem;
  font-weight: 800;
  font-family: inherit;
  color: #000;
  text-transform: uppercase;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  cursor: pointer;
}
.button:hover {
  background-color: #ffd517;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.button--type--reset {
  background-color: transparent;
  text-transform: none;
  color: #fff;
  border-width: 0;
  padding: 1.17rem 1.11rem;
  font-family: inherit;
  font-weight: normal;
  font-size: 1rem;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  cursor: pointer;
}
.button--type--reset:hover {
  background-color: transparent;
  color: #fedb3f;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.hero {
  height: 100vh;
  min-height: 33.33rem;
  color: #fff;
  background: url("../img/bg-hero.png") center top no-repeat;
  background-size: cover;
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 3.61rem 4.44rem;
  max-width: 50%;
  min-height: 75vh;
}

.hero__title {
  font-size: 2.67rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.25em;
  margin-bottom: 0.722rem;
}

.hero__descr {
  font-size: 1.17rem;
  margin-bottom: 1.94rem;
}

.hero__features {
  margin-top: auto;
  font-size: 0.889rem;
  font-weight: bold;
}

.hero__features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__features-item {
  margin-left: 1.94rem;
  padding-left: 0.833rem;
  position: relative;
  max-width: 5rem;
  line-height: 1.3em;
}

.hero__features-item--design:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  background: url("../img/design-logo.png") center center no-repeat;
  background-size: contain;
  height: 1.94rem;
  width: 1.94rem;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.hero__features-item--materials:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  background: url("../img/materials-logo.png") center center no-repeat;
  background-size: contain;
  height: 1.94rem;
  width: 1.94rem;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.hero__features-item--delivery:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  background: url("../img/delivery-logo.png") center center no-repeat;
  background-size: contain;
  height: 1.94rem;
  width: 1.94rem;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.hero__button-container {
  margin-bottom: 1.11rem;
}

.section {
  height: 100vh;
  min-height: 33.33rem;
  color: #292929;
}
.section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  font-size: 2.67rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.39rem;
}

.headline {
  margin-bottom: 2.78rem;
}

.headline__title {
  margin-bottom: 0.556rem;
}

.headline__title-descr {
  color: #666;
  text-align: center;
  width: 39%;
  margin: 0 auto;
  line-height: 1.3em;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5%;
}

.advantages__item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.advantages__item:after {
  position: absolute;
  top: 3.277rem;
  right: 0;
  content: url(../img/separator.png);
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.advantages__item:last-child::after {
  display: none;
}

.advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advantage:last-child {
  margin-right: 0;
}

.advantage__pic {
  border-radius: 50%;
  height: 7.11rem;
  width: 7.11rem;
  margin-bottom: 0.833rem;
}

.advantage__pic--icon--fit {
  background: url(../img/fit-logo.png) center center no-repeat, #f2f5f4;
}

.advantage__pic--icon--strong {
  background: url(../img/strong-logo.png) center center no-repeat, #f2f5f4;
}

.advantage__pic--icon--unique {
  background: url(../img/unique-logo.png) center center no-repeat, #f2f5f4;
}

.advantage__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.833rem;
}

.advantage__text {
  font-weight: 300;
  color: #666;
  text-align: center;
  max-width: 15.56rem;
}
.advantage__text p {
  line-height: 1.2em;
}

.rewiews__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: 2.33rem;
  background-color: #f8faf9;
  margin: 0 4.44rem 0.833rem;
}

.rewiews__avatar {
  width: 14.06rem;
  height: 14.66rem;
  margin-right: 2.22rem;
}

.reviews__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rewiews__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.556rem;
}

.rewiews__text {
  color: #666;
  margin-bottom: 1.39rem;
  width: 85%;
  line-height: 1.2em;
}

.reviews__name {
  font-weight: 500;
}

.rewiews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interactive-avatar {
  margin-right: 0.333rem;
  border-radius: 50%;
  width: 4.11rem;
  height: 4.11rem;
  overflow: hidden;
}
.interactive-avatar:last-child {
  margin-right: 0;
}

.interactive-avatar__link {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.interactive-avatar__item--active .interactive-avatar__link:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  opacity: 1;
}

.interactive-avatar__link:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 0 0.333rem #fedb3f;
          box-shadow: inset 0 0 0 0.333rem #fedb3f;
  opacity: 0;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.interactive-avatar__link:hover::after {
  opacity: 1;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.interactive-avatar__icon {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.order {
  color: #fff;
  background: url("../img/bg-order.png") center top no-repeat;
  background-size: cover;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 4.56rem;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.556rem;
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 0.556rem;
}
.form__row:last-child {
  margin-bottom: 0;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.833rem;
}
.form__block:last-child {
  margin-bottom: 0;
}

.form__input {
  width: 100%;
  border: 0.167rem solid transparent;
  border-radius: 0.222rem;
  padding: 0.889rem 0.556rem;
  font: 400 0.778rem/1.42 "Open Sans", Tahoma, sans-serif;
}
.form__input:focus {
  outline: none;
  border-color: #fedb3f;
}

.form__input--textarea {
  height: 8.33rem;
  resize: none;
  margin-bottom: 1.11rem;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1.11rem;
}
.form__controls:last-child {
  margin-bottom: 0;
}

.form__controls--margin--big {
  margin-bottom: 2.5rem;
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.11rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.radio:last-child {
  margin-right: 0;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.radio__visible {
  position: relative;
  width: 1.39rem;
  height: 1.39rem;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 0.556rem;
}
.radio__visible:before {
  display: none;
  content: "";
  position: absolute;
  width: 0.722rem;
  height: 0.722rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fedb3f;
  border-radius: 50%;
}

.radio--checkbox .radio__visible {
  border-radius: 0.222rem;
}
.radio--checkbox .radio__visible:before {
  width: 1.11rem;
  height: 1.11rem;
  background: url("../img/checked.png") center center no-repeat;
}

.scroller {
  position: fixed;
  right: 17%;
  top: 33%;
}

.scroller__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 29vh;
}

.scroller__item--active .scroller__link {
  border-color: #fff;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}

.scroller__link {
  display: block;
  height: 0.889rem;
  width: 0.889rem;
  padding: 0.222rem;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid transparent;
  background-clip: content-box;
  cursor: pointer;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.scroller__link:hover {
  border-color: #fff;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}