//var
$containerwidth: 1100px;
$tabletwidth: 768px;
$phonewidth: 480px;
$basefontsize: 18px;
$yellow: #fedb3f;
$black: #292929;

@function rem($px) {
  @return $px / $basefontsize + 0rem;
}

//fonts and normalize
@import url("fonts.css");
@import url("normalize.css");

//all styles
@import "base.scss";
@import "header.scss";
@import "menu.scss";
@import "logo.scss";
@import "contacts.scss";
@import "hamburger.scss";
@import "button.scss";
@import "hero.scss";
@import "section.scss";
@import "headline.scss";
@import "advantages.scss";
@import "catalog.scss";
@import "dropdown.scss";
@import "slider.scss";
@import "surfboard.scss";
@import "team.scss";
@import "employee.scss";
@import "rewiews.scss";
@import "interactive-avatar.scss";
@import "order.scss";
@import "form.scss";
@import "radio.scss";
@import "map.scss";
@import "footer.scss";
@import "socials.scss";
@import "scroller.scss";
@import "fullscreen-menu.scss";

//media queries
@import "media.scss";
