.order {
  color: #fff;
  background: url("../img/bg-order.png") center top no-repeat;
  background-size: cover;

  // .container {
  //   background: url("../img/bg-order.png") center center no-repeat;
  //   background-size: cover;
  // }
}
