.radio {
  display: flex;
  margin-right: 1.11rem;
  cursor: pointer;
  user-select: none;

  &:last-child {
    margin-right: 0;
  }
}

.radio__elem {
  display: none;

  &:checked ~ .radio__visible:before {
    display: block;
  }
}

.radio__visible {
  position: relative;
  width: 1.39rem;
  height: 1.39rem;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 0.556rem;

  &:before {
    display: none;
    content: "";
    position: absolute;
    width: 0.722rem;
    height: 0.722rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $yellow;
    border-radius: 50%;
  }
}

.radio--checkbox .radio__visible {
  border-radius: 0.222rem;

  &:before {
    width: 1.11rem;
    height: 1.11rem;
    background: url("../img/checked.png") center center no-repeat;
  }
}
