.rewiews__content {
  display: flex;
  justify-content: left;
  padding: 2.33rem;
  background-color: #f8faf9;
  margin: 0 4.44rem 0.833rem;
}

.rewiews__avatar {
  width: 14.06rem;
  height: 14.66rem;
  margin-right: 2.22rem;
}

.reviews__descr {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rewiews__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.556rem;
}

.rewiews__text {
  color: #666;
  margin-bottom: 1.39rem;
  width: 85%;
  line-height: 1.2em;
}

.reviews__name {
  font-weight: 500;
}

.rewiews__list {
  display: flex;
  justify-content: center;
}
