.scroller {
  position: fixed;
  right: 17%;
  top: 33%;
}

.scroller__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 29vh;
}

.scroller__item--active .scroller__link {
  border-color: #fff;
  transition: border-color 0.3s;
}

.scroller__link {
  display: block;
  height: 0.889rem;
  width: 0.889rem;
  padding: 0.222rem;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid transparent;
  background-clip: content-box;
  cursor: pointer;
  transition: border-color 0.3s;

  &:hover {
    border-color: #fff;
    transition: border-color 0.3s;
  }
}
