.section {
  height: 100vh;
  min-height: 600px;
  color: $black;

  .container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.section__title {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
}
