.welcome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 0px 65px 80px;
  color: #fff;
  max-width: 50%;
  min-height: 488px;
}

.welcome__title {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.25em;
  margin-bottom: 13px;
}

.welcome__descr {
  font-size: 21px;
  margin-bottom: 35px;
}

.welcome__features {
  margin-top: auto;
  font-size: 16px;
  font-weight: bold;
}

.welcome__features-list {
  display: flex;
  justify-content: space-between;
}

.welcome__features-item {
  margin-left: 35px;
  padding-left: 15px;
  position: relative;
  max-width: 90px;
  line-height: 1.3em;
}

$list: design, materials, delivery;

@each $var in $list {
  .welcome__features-item--#{$var}:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translatey(-50%);
    background: url("../img/#{$var}_logo.png") center center no-repeat;
    background-size: contain;
    height: 35px;
    width: 35px;
    filter: invert(100%);
  }
}
