.button {
  background-color: $yellow;
  border-radius: rem(35px);
  border-width: 0;
  padding: rem(21px) rem(40px);
  font-size: rem(16px);
  font-weight: 800;
  font-family: inherit;
  color: #000;
  text-transform: uppercase;
  transition: background-color 0.2s;
  cursor: pointer;

  &:hover {
    background-color: #ffd517;
    transition: background-color 0.2s;
  }
}

.button--type--reset {
  background-color: transparent;
  text-transform: none;
  color: #fff;
  border-width: 0;
  padding: rem(21px) rem(20px);
  font-family: inherit;
  font-weight: normal;
  font-size: rem(18px);
  transition: color 0.2s;
  cursor: pointer;

  &:hover {
    background-color: transparent;
    color: $yellow;
    transition: color 0.2s;
  }
}
