.menu-section {
  color: #fff;
  background: url("../img/bg-menu.png") center center / cover no-repeat;
}

.menu-section .container {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.menu-section__item-container {
  display: block;
}

// .menu-section__col-content {
//   flex: 1;
// }

// .menu-section__col-content--active {
//   position: static;
// }

.menu-section__title {
  margin: 110px 50px 0px 85px;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
}

.menu-section__list {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: flex-end;
  height: 100%;
}
